# MongoDB (database)
MONGODB_URI=
MONGODB_DB=

# JWT secret for signing auth tokens
JWT_SECRET=

# Optionally configure cookie name and max age
AUTH_COOKIE_NAME=
AUTH_COOKIE_MAX_AGE=

# NextAuth Configuration
NEXTAUTH_SECRET=
NEXTAUTH_URL=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
